build: off
cache:
  - '%LOCALAPPDATA%\Composer\files -> appveyor.yml'

clone_folder: c:\projects\php-parallel-lint

init:
  - SET PATH=c:\php;%PATH%
  - SET ANSICON=121x90 (121x90)

install:
  - cinst -y OpenSSL.Light
  - SET PATH=C:\Program Files\OpenSSL;%PATH%
  - sc config wuauserv start= auto
  - net start wuauserv
  - cinst -y php --version 7.2.8
  - cd c:\tools\php72
  - copy php.ini-production php.ini
  - echo date.timezone="UTC" >> php.ini
  - echo extension_dir=ext >> php.ini
  - echo extension=php_openssl.dll >> php.ini
  - cd c:\projects\php-parallel-lint
  - SET PATH=C:\tools\php72;%PATH%
  - appveyor-retry appveyor DownloadFile https://getcomposer.org/composer.phar
  - php composer.phar install --prefer-source --no-interaction

test_script:
  - php composer.phar test
  - php parallel-lint --exclude vendor --exclude tests\examples --no-colors .
  - php parallel-lint --exclude vendor --exclude tests\examples .
